$colors: (
    decor-color: #3498DB,
    bg-color: #ECF0F1,
    text-color: #fff,
    alt-text: #000
);

$fontSize: (
    bigHeader: 2.5rem,
    regHeader: 1.25rem,
    body: 1rem,
    small: 0.8rem
);

$border: 15px;

@function color($color-selection){
    @return map-get($colors, $color-selection );
}

@function text($text-size){
    @return map-get($fontSize, $text-size)
}

body, html {
    height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    .back-decor{
        clip-path: polygon(0 0, 56% 0, 100% 51%, 100% 100%, 0 100%);
        width: 100%;
        height: 100%;
        background-color: color(decor-color);
        position: absolute;
        z-index: -1;
        top: 0;
    }
}

nav{
    h1{
        font-size: text(redHeader);
        color: color(text-color);
        text-transform: uppercase;
        margin-top: 23px;
        margin-left: 36px;
    }
}

section.options{
    .option-box{
        width: 82%;
        height: 197px;
        background-color: color(text-color);
        margin: 22px 0 0 36px;
        border-radius: $border;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.349);
    }
}

section.info-text{
    h1{
        font-size: text(bigHeader);
        color: color(text-color);
        text-align: center;
        font-weight: bolder;
        margin-top: 37px;
        line-height: 53px;
    }

    h2{
        font-size: text(body);
        color: color(text-color);
        text-align: center;
        margin-top: 9px;
        line-height: 24px;
    }

    a{
        text-decoration: none;
        color: color(text-color);
        font-size: text(small);
        padding: 9px 36px;
        border-radius: $border;
        border: 2px solid white;
        position: absolute;
        top: 75%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}